.details {
  display: grid;
  grid-gap: 1rem 1rem;
}

.details__content {
  padding: 0 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;
  font-size: var(--fs-100);
  border-radius: 0.5rem;
  background-color: var(--clr-neutral-100);
}

@media screen and (min-width: 550px) {
  .details__content {
    gap: 0;
  }
}

.details .flex-center {
  justify-content: flex-start;
  gap: 0.5rem;
}

.details h1 {
  font-size: var(--fs-400);
  font-weight: var(--fw-bold);
  color: var(--clr-accent-500);
}
.details h2 {
  font-size: var(--fs-300);
  font-weight: var(--fw-regular);
  color: var(--clr-neutral-500);
}

.details__heading {
  border-bottom: 1px solid var(--clr-neutral-500);
}

.details__body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

@media screen and (min-width: 550px) {
  .details {
    grid-template-columns: 1fr 1fr;
  }
}

.details__footer {
  align-self: center;
}

.details__cta {
  padding: 0.75rem 4rem;
  border: none;
  border-radius: 0.25rem;
  color: var(--clr-neutral-100);
  border: 1px solid var(--clr-accent-500);
  background-color: var(--clr-accent-500);
  box-shadow: 0 1px 3px rgba(77, 71, 81, 0.2);
  cursor: pointer;
}

.details__cta:hover {
  color: var(--clr-accent-500);
  background-color: var(--clr-neutral-100);
  transition: all 0.15s ease-in;
}
