html {
  scroll-behavior: smooth;
}

:root {
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(180, 11%, 98%);
  --clr-neutral-500: hsl(186, 14%, 43%);
  --clr-accent-400: #0b92e1;
  --clr-accent-500: hsl(273, 96%, 36%);
  --clr-accent-800: hsl(0, 77%, 59%);
  --clr-accent-900: hsl(278, 68%, 11%);

  --max-width-desktop: 1110px;

  --ff-primary: "Space Mono", monospace;
  --ff-body: var(--ff-primary);
  --fs-body: var(--fs-200);

  --fs-100: 0.75rem;
  --fs-200: 1rem;
  --fs-300: 1.25rem;
  --fs-400: 1.5rem;

  --fw-regular: 400;
  --fw-bold: 600;
  --fw-extra-bold: 800;

  --lh: calc(var(--fs-100) * 1.5);
}

@media screen and (min-width: 750px) {
  :root {
    --fs-100: 1rem;
    --fs-200: 1.25rem;
    --fs-300: 1.5rem;
    --fs-400: 1.75rem;
  }
}

body {
  min-height: 100vh;
  margin: 0 auto;
  font-family: var(--ff-primary);
  font-size: var(--fs-body);
  background-color: var(--clr-neutral-100);
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background-color: darkgrey;
}

ul {
  padding-left: 0;
  list-style-type: none;
}
